<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #e9ecef!important;">
  <a class="navbar-brand" data-test-id="login-navbar-home-href" style="color: black;" href="<%= `/` %>">Organic-Foods</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
  </div>
</nav>